@model IEnumerable<SMC_UI.Models.Student.StudentReadDto>

@{
    ViewData["Title"] = "Student Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <a asp-action="Create" class="btn btn-success  btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
        </span>
        <span class="text">Create Student</span>
    </a>
    @* <a asp-controller="Round" asp-action="Csv" asp-route-Id="@Model.Id" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
    <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
    </a>*@
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3 col-12">
        <h6 class="m-0 font-weight-bold text-primary">List Of Student </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr class="table-secondary">                       
                        <th>
                            Full Name
                        </th>
                        <th>
                            Mother Name
                        </th>
                        
                        <th>
                        ChristeningName
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>
                            Gread
                        </th>
                        <th>
                            Age
                        </th>
                        <th>
                            Occupation Type
                        </th>
                        <th>
                            Telephone
                        </th>
                        <th>
                            Adress
                        </th>
                        <th>
                            Class Rooms
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.FullName
                            </td>
                            <td>
                                @item.MotherName
                            </td>

                            <td>
                                @item.ChristeningName
                            </td>
                            <td>
                                @{
                                    var gender = (GenderType)item.GenderId;
                                }
                                @gender
                            </td>
                            <td>
                                @{
                                    var gread = (GreadType)item.GreadId;
                                }
                                @gread
                            </td>
                            <td>
                                @item.Age
                            </td>
                            <td>
                                @item.OccupationType
                            </td>
                            <td>
                                @item.Telephone
                            </td>
                            <td>
                                @item.Adress
                            </td>
                            <td>
                                @item.ClassRoom.Name
                            </td>
                            <td>
                                <a asp-action="Views" asp-route-Id="@item.Id" class="btn btn-success  btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-info"></i>
                                    </span>
                                    <span class="text">Views</span>
                                </a>
                                <a asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-primary  btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                    <span class="text">Edit</span>
                                </a>
                                <a asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger  btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">Delete</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
